h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0;}
p {margin: 0;padding: 0;
}
body{ 
  background:#61b3de;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  background-size:cover;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
          font-family: 'Ubuntu', sans-serif;
}
.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}
.main_frame {
    text-align: center;
  position: relative;
}
.frame-border {
    width: 350px;
    height: 630px;
    outline: none;
    border: solid 20px #000000;
    border-radius: 40px;
    border-bottom: solid 80px #000;
    border-top: solid 60px #000;
  
}
/*--.circle1 {
    height: 9px;
    width: 9px;
    position: absolute;
    left: 51em;
    top: 2.7em;
    background: #222;
    border-radius: 5px;
}--*/
.circle-button {
    height: 40px;
    width: 40px;
    background: #272626;
    margin: 17px auto;
    border-radius: 100px;
    position: absolute;
    left: 55.5em;
    bottom: 0.5em;
}
h1.fit_tittle a{
  text-decoration:none;
  color:#fff;
  text-align:center;
}
h1.fit_tittle{
  text-align:center;
  margin-bottom:1em;  
  font-size:3.5em;
    text-transform: capitalize;
}
.fit_main{
  padding:80px 0;
}
.footer p{
  color:#fff;
  font-size:14px;
  line-height:1.8em;
  text-align:center;
  margin-top:50px;
}
.footer p a{
  color:#fff;
}
.footer p a:hover{
text-decoration:underline;
}
.body-back{
    background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.wrap {
position:relative;
}
  }
.social-icons ul li {
    display: inline-block;
}
.social-icons ul li a {
    font-size: 1em;
    background: #fff;
    padding: 1em 1em;
    color: #000;
  border-radius: 6px;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-icons {
    text-align: center;
    margin-bottom: 4em;
}
.social-icons ul li a:hover {
    background: #68D0AF;
    color: #fff;
}
.Profile-mid {
    float: left;
    width: 33.333%;
    text-align: center;
}
.profile-left {
    float: left;
    width: 33.3333%;
    text-align: center;
}
h5.pro-link {
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}
.Profile-right {
    float: right;
    width: 33.3333%;
    text-align: center;
}
.Profile-right i{
    font-size: 18px;
    color: #fff;
  margin-top: 0.1em;
}
.profile-left i{
    font-size: 15px;
    color: #fff;
}
.wrapper-dropdown-2,.wrapper-dropdown-3,.wrapper-dropdown-1,.wrapper-dropdown-4,.wrapper-dropdown-5,.wrapper-dropdown-6 {
    position: relative;
  outline: none;
    cursor: pointer;
}
.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown,.wrapper-dropdown-2 .dropdown ,.wrapper-dropdown-5 .dropdown {
  width:171px;
  top:27px;
    position: absolute;
    right: 17%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:999;
    background-color: #FFF;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-3 .dropdown li,.wrapper-dropdown-4 .dropdown li,.wrapper-dropdown-5 .dropdown li,.wrapper-dropdown-6 .dropdown li{
  border-bottom: 1px solid #F0F0F0;
  float: none;
  margin: 0;
  width: 100%;
    text-align: left;
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-3 .dropdown li,.wrapper-dropdown-4 .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-5 .dropdown li,.wrapper-dropdown-6 .dropdown li{
  padding:8px;
}
.wrapper-dropdown-1 .dropdown li:hover,.wrapper-dropdown-2 .dropdown li:hover ,.wrapper-dropdown-3 .dropdown li:hover ,.wrapper-dropdown-4 .dropdown li:hover,.wrapper-dropdown-5 .dropdown li:hover ,.wrapper-dropdown-6 .dropdown li:hover  {
  background:#FDFDFD;
}

.wrapper-dropdown-1 .dropdown li:last-child,.wrapper-dropdown-3 .dropdown li:last-child,.wrapper-dropdown-2 .dropdown li:last-child,.wrapper-dropdown-4 .dropdown li:last-child,.wrapper-dropdown-5 .dropdown li:last-child,.wrapper-dropdown-6 .dropdown li:last-child{
  border-bottom:none;
}
.wrapper-dropdown-1 .dropdown li a,.wrapper-dropdown-2 .dropdown li a,.wrapper-dropdown-3 .dropdown li a ,.wrapper-dropdown-4 .dropdown li a ,.wrapper-dropdown-5 .dropdown li a,.wrapper-dropdown-6 .dropdown li a{
    display: block;
  text-decoration: none;
  color:#232323;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0;
    border: none;
}
.wrapper-dropdown-1 .dropdown li a:hover, .wrapper-dropdown-2 .dropdown li a:hover, .wrapper-dropdown-3 .dropdown li a:hover, .wrapper-dropdown-4 .dropdown li a:hover, .wrapper-dropdown-5 .dropdown li a:hover{
  color:#81BE32;
}
/* Active state */
.wrapper-dropdown-1.active:after,.wrapper-dropdown-2.active:after,.wrapper-dropdown-3.active:after,.wrapper-dropdown-4.active:after,.wrapper-dropdown-5.active:after{
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown,.wrapper-dropdown-2.active .dropdown,.wrapper-dropdown-3.active .dropdown ,.wrapper-dropdown-4.active .dropdown,.wrapper-dropdown-5.active .dropdown {
   max-height: 400px;
}
.Profile-right span{
  color:#fff;
  font-size:15px;
  right:0;
}
.menu-notify {
    padding: 6px 0;
    background: #81be32 !important;
}
.panel {
    margin-bottom: 0px;
    background: #313335;
    width: auto;
    height: 780px !important;
    width: 15.625em !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 34px 0px 0px;
  z-index:999;
}
.search {
    background: #81be32;
  border-radius: 5px;
}
.search input[type="search"] {
    border: none;
    outline: none;
    padding: 5px 0px 5px 12px;
    font-size: 14px;
    color: #fff;
    background: none;
    width: 82%;
}
.search form input[type="submit"]{
  background: url(../images/search.png) no-repeat 8px 9px;
  width: 33px;
  height: 32px;
  border: none;
  margin: 0 0 0 -4px;
  padding:0;
  border:none;
  outline:none;
}
.profile-menu{
  margin:25px 0;
}
.profile-menu h3 {
    color: #fff;
    font-size: 1.8em;
    margin: 20px 0 10px;
}
.profile-menu a {
   color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.wrap-content {
    width: 87%;
    margin: 0 auto;
}
.banner {
    background: url(../images/pic.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
      min-height: 390px;  
    text-align: center;
}
.glyphicon-home {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 5px solid#FFFFFF;
    padding: 1em;
    background: #4A4786;
}
.banner-text {
    padding-top: 7em;
}
.banner-text h3 {
    font-size: 2em;
    color: #fff;
}
.banner-text p {
    font-size: 1em;
    color: #eee;
    width: 50%;
    margin: 0 auto;
    line-height: 1.8em;
    margin-top: 0.5em;
}
.place-grid {
    float: left;
    width: 25%;
}
.sel {
  width: 99%;
    padding: .5em 1em;
    font-size: 0.9em;
    margin-top: 1em;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    font-weight: 600;
}
.search1 input[type="submit"] {
    width: 100%;
    background: #4a4786;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
}
.place-grid1 {
    width: 15%;
    float: left;
}
.search1{
    width: 15%;
    float: left;
  margin-top: 2em;
}
.place-grids h5 {
    color: #fff;
    font-size: 1em;
}
.place-grids {
    padding-top: 3em;
}
.about {
    text-align: center;
    padding: 2em 0;
}
.about h2 {
    font-size: 2em;
    color: #4A4786;
  margin-bottom: 1em;
}
.about-grid {
    float: left;
    width: 33.3%;
}
.about-grid h4 {
    font-size: 1.4em;
    color: #81be32 ;
    padding: 0.5em 0;
}
.about-grid p {
    font-size: 1em;
  line-height:1.8em;
    color: #999;
}
a.button {
    font-size: 1em;
    background: #4a4786;
    text-decoration: none;
    padding: 0.5em;
    color: #fff;
    display: block;
    width: 62%;
    margin: 1em auto;
}
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #81be32;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.about-grid:hover img{
    webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.about-grid img{
  width: 500px;
  height: 250px;
}
.about-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.commision-left {
    float: left;
    width: 50%;
}
.commision-right {
    float: right;
    width: 50%;   
  text-align: center;
      margin-top: 2em;
}
.commision-left p strong {
    display: block;
}
.commision {
    padding: 0.5em 0.5em;
}
.commision strong {
    color: #4A4786;
    font-size: 1.4em;
}
.commision p {
    font-size: 1em;
    line-height: 2em;
    color: #4A4786;
}
.numscroller {
    font-size: 2em;
    color: #4A4786;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
.social-icon {
    margin-top: 2em;
  text-align: center;
}
.social-icon a i {
    width: 32px;
    height: 32px;
    background:#81be32 url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
  margin:0 0.2em;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  border-radius: 16px;
}
.social-icon i.icon:hover {
  background: #4A4786 url(../images/img-sprite.png) no-repeat 0px 0px;
      transform: rotateY(360deg);
}
.social-icon i.icon {
    background-position: 0px 0px;
}
.social-icon i.icon1 {
    background-position: -32px 0px;
}
.social-icon i.icon1:hover {
  background: #4A4786 url(../images/img-sprite.png) no-repeat -32px 0px;
      transform: rotateY(360deg);
}
.social-icon i.icon2 {
    background-position: -64px 0px;
}
.social-icon i.icon2:hover {
  background: #4A4786 url(../images/img-sprite.png) no-repeat -64px 0px;
      transform: rotateY(360deg);
}
.social-icon i.icon3 {
    background-position: -96px 0px;
}
.social-icon i.icon3:hover {
  background: #4A4786 url(../images/img-sprite.png) no-repeat -96px 0px;
      transform: rotateY(360deg);
}
@media (max-width:736px){
a.button {
    font-size: 0.965em;
}
.commision strong {
    font-size: 1.3em;
}
}
@media (max-width: 667px){
.banner-text p {
    width: 52%;
}
}
@media (max-width: 640px){
.banner-text {
    padding-top: 6em;
}
.banner-text p {
    width: 53%;
}
}
@media (max-width: 600px){
.sel {
    width: 100%;
}
.place-grid {
    float: left;
    width: 50%;
}
.place-grid1 {
    width: 30%;
    float: left;
      margin-top: 1em;
}
}
@media (max-width: 568px){
.banner-text p {
    width: 59%;
}
.banner-text {
    padding-top: 4em;
}
.sel {
    width: 100%;
}
.search1 {
    width: 40%;
  margin-top: 3em;
}
a.button {
    width: 80%;
}
}
@media (max-width: 480px){
.about-grid p{
    font-size: 0.95em;
}
.banner-text p {
    width: 70%;
  font-size: 0.95em;
}
.about h2 {
    font-size: 1.8em;
}
.about-grid h4 {
    font-size: 1.2em;
    line-height: 1.3em;
}
a.button {
    font-size: 0.95em;
    width: 90%;
}
.commision strong {
    font-size: 1.2em;
}
}
@media (max-width: 414px){
.banner {
    background: url(../images/pic.jpg) no-repeat -107px 0px;
    background-size: cover;
}
.about-grid {
    width: 100%;
}
.about-grid:nth-child(3) {
    margin: 2em 0;
}
.banner-text p {
    width: 80%;
}
}
@media (max-width: 384px){
.banner-text p {
    width: 89%;
}
}
@media (max-width: 375px){
.about h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
.about-grid:nth-child(3) {
    margin: 1em 0;
}
}
@media (max-width: 320px){
.banner-text {
    padding-top: 3em;
}
.banner {
    background: url(../images/pic.jpg) no-repeat -170px 0px;
    background-size: cover;
}
.about {
    padding: 1em 0;
}
.banner-text h3 {
    font-size: 1.5em;
}
}